
*{
    margin: 0;
    padding: 0;
}
.mainContainer{
    display: grid;
    grid-template-columns: repeat(3,364px);
    gap: 50px;
    justify-content: center;
}

.mainContainer .cuerpo{
    border: 1px solid rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    /*margin-left: 777px;
    margin-right: 777px;*/
    gap: 10px;
    box-shadow: -7px 0px 21px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -7px 0px 21px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 0px 21px 1px rgba(0,0,0,0.75);    
}

.mainContainer .cuerpo .gridNoticias{
    padding-bottom: inherit;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}